html{
	font-size: 62.5%;
}

body{
	font-size: 1.8rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30rem;
	background: grey;
	margin: 0 auto;
	border-radius: 3rem;
	padding: 2rem;
}

.row{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
}


#btn{
	margin: 2rem 0 0 0;
	padding: 1rem 2rem;
	background: gold;
	border-radius: 1rem;
	cursor: pointer;
}